body{
    background-color: rgb(230, 123, 52);
    font-family: 'Kanit', 'Noto Color Emoji', 'Noto Sans JP', sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background-color: rgb(230, 123, 52);
    background-image: url(images/noise.png);
    display: flex;
    position: fixed;
    margin: -10px;
    align-items: center;
    justify-content: center;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    z-index: 9999;
    border: 0px solid rgb(255, 255, 255, 0.2);
}

.header h1{
    position: absolute;
    color: white;
    text-shadow: 0 0 20px white;
    opacity: 0;
    transition: all 0.9s cubic-bezier(0.22, 1, 0.36, 1);
    transform: scale(0.8);
    user-select: none;
    filter: blur(30px);
}

.bounce {
    animation: bounce 1s;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-10px);}
    60% {transform: translateY(-5px);}
}

.download{
    display: flex;
    align-items: center;
    background-color: royalblue;
    border-radius: 15px;
    height: 40px;
    transition: all 0.4s;
    position: absolute;
    right: 25px;
    top: 15px;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    opacity: 0;
    transform: scale(0.8);
    filter: blur(30px);
}

.download p{
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    color: white;
    font-size: 17px;
    padding: 10px;
    font-weight: 700;
}

.download:hover{
    background-image: url(images/noise.png);
    box-shadow: 0 0 15px royalblue;
}

.download:active{
    background-color: rgb(55, 135, 255);
    box-shadow: 0 0 15px rgb(55, 135, 255);
}


.dlbtn{
    height: 18px;
    width: 18px;
    padding-right: 10px;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.toppage{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.images{
    background-color: rgb(255, 255, 255, 0.2);
    background-image: url(images/noise.png);
    display: flex;
    justify-content: center;
    margin: auto;
    width: 80%;
    max-width: 400px;
    border-radius: 40px;
    padding: 10px 0 10px 0;
    opacity: 0;
    transform: scale(0.8);
    filter: blur(30px);
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.img{
    border-radius: 30px;
    aspect-ratio: 9/19.5;
    width: 95%;
}

.toppage-text{
    text-align: center;
}

.toppage-text1{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-shadow: 0 0 20px white;
    opacity: 0;
    transform: scale(0.8);
    filter: blur(30px);
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.toppage-text2{
    color: white;
    font-size: 20px;
    font-weight: 700;
    opacity: 0;
    transform: scale(0.8);
    filter: blur(30px);
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}

.glow{
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow{
    from{
        text-shadow: 0 0 10px white;
    }
    to{
        text-shadow: 0 0 20px white;
    }
}

.toppagea{
    position: absolute;
    text-align: left;
    font-size: 10px;
    color: white;
    bottom: 0;
    left: 10px;
}

.footers{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer{
    position: relative;
    background-color: rgb(230, 123, 52);
    background-image: url(images/noise.png);
    width: 100%;
    opacity: 0;
    transform: scale(0.8);
    filter: blur(50px);
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    border-radius: 15px;
    border: 3px solid rgb(255, 255, 255, 0.2);
}

.footer-texts{
    color: white;
    font-size: 15px;
    padding: 5px;
}

.footer.show {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
}

.tokuly{
    display: flex;
    align-items: center;
    background-color: royalblue;
    border-radius: 15px;
    height: 40px;
    transition: all 0.4s;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    border: 2px solid rgb(255, 255, 255, 0.2);
}

.tokuly p{
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    color: white;
    font-size: 17px;
    padding: 10px;
    font-weight: 700;
}

.tokuly:hover{
    background-image: url(images/noise.png);
    box-shadow: 0 0 15px royalblue;
}

.tokuly:active{
    background-color: rgb(55, 135, 255);
    box-shadow: 0 0 15px rgb(55, 135, 255);
}

.footer-text{
    color: white;
    font-size: 15px;
    padding-left: 10px;
}